header{
    background-color: #0dcaf0;
}

.header_ul{
    display: flex;
}

.header_li{
    padding: 10px;
    list-style: none;
    border: solid;
}

.header_a{
    text-decoration: none;
    color: black;
}

.header_a:hover{
    color: red;
}

.profil_label{
    width: 100px;
    display: inline-block;
}

.profil-input{

}

.profil_div{
    display: flex;
    justify-content: center;
}

.profil_btn{
    margin: 10px;
}

.profil_btn:hover{
    color:red
}

.sortieForm {
    display: flex;
    justify-content: center;
}

.sortieCol {
    width: 400px;
}

.sortieInter {
    width: 100px;
}

.sortieBout {
    display: flex;
    justify-content: center;
}

.ville_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}

.ville_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 200px;
}

.ville_tr:nth-child(even){background-color: #f2f2f2;}

.ville_tr:hover {background-color: #ddd;}

.ville_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border-right: solid grey;
    width: 200px;
}

.campus_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.campus_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 200px;
}

.campus_tr:nth-child(even){background-color: #f2f2f2;}

.campus_tr:hover {background-color: #ddd;}

.campus_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border-right: solid grey;
    width: 200px;
}

.accueil_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.accueils_td {
    border: 1px solid #ddd;
    padding: 8px;
}

.accueil_tr:nth-child(even){background-color: #f2f2f2;}

.accueil_tr:hover {background-color: #ddd;}

.accueil_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:400px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2;
display: flex}
.div4 { grid-area: 1 / 2 / 4 / 3; }

.form_accueil{
    height: 310px;
}


tbody, thead tr, tfoot { display: block; }

tbody {
    height: 200px;
    overflow-y: scroll;
}

.profil_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}

.profil_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100px;
}

.profil_tr:nth-child(even){background-color: #f2f2f2;}

.profil_tr:hover {background-color: #ddd;}

.profil_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border-right: solid grey;
    width: 100px;
}

.profil_tbody{
    height: 150px;
    overflow-y: scroll;
}
blabla