body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ferme{
    display: none;
}

.ouvrir{
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
}


select{
    height: 30px;
}

header {
    background: linear-gradient(rgba(252,50,159,0.2), rgba(169,41,193,0.2), rgba(41,123,253,0.2), rgba(44,194,84,0.2), rgba(254,233,42,0.2));
    box-shadow: 0 3px 3px rgba(255,131,43,0.25);
    height: 160px;
    width: auto;
}

.div-afficher_corps{
    width: 70%;
}

.div_afficher_sortie{
    display: flex;
}

.div_map{
    padding-top: 230px;
}

.frame_map{
    width:525px;
    height:450px;
}

.logo {
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
 }

.header_ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 35px;
}

.header_a{
    text-decoration: none;
    font-size: 18px;
    color: #00304a;
    transition: all 1s ease-in-out;
    padding: 10px;
}

.header_a1:hover{
    color: #fe2b39;
}

.header_a2:hover{
    color: #ff5333;
}

.header_a3:hover{
    color: #ff832b;
}

.header_a4:hover{
    color: #fee92a;
}

.header_a5:hover{
    color: #2cc254;
}

.header_a6:hover{
    color: #00877e;
}

.header_a7:hover{
    color: #297bfd;
}

.header_a8:hover{
    color: #a929c1;
}

.profil_image {
    display: flex;
    justify-content: center;
}

.conteneur {
    margin: 20px;
}

.profil_label{
    width: 100px;
    display: inline-block;
}

.profil_input{

}

.register_label{
    width: 100px;
    display: inline-block;
}

.register_input{
}

.profil_div{
    display: flex;
    justify-content: center;
}

.sortieForm {
    display: flex;
    justify-content: center;
}

.sortieCol {
    width: 360px;
}


.sortieInter {
    width: 100px;
}

.sortieBout {
    display: flex;
    justify-content: center;
}

.interBout {
    padding-left: 15px;
    padding-right: 15px;
}

.ville_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.ville_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 250px;
    color: #00877e;
    text-align: center;
}

.ville_tr:nth-child(even){background-color: rgba(0,135,126,0.2);}

.ville_tr:hover {background-color: rgba(0,48,74,0.2);}

.ville_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #00304a;
    width: 250px;
}

.ville_td_head1 {
    background: linear-gradient(to right, #fee92a, #2cc254);
}

.ville_td_head2 {
    background: linear-gradient(to right, #2cc254, #129088);
}

.ville_td_head3 {
    background: linear-gradient(to right, #129088, #297bfd);
}

.campus_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.campus_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 232px;
}

.campus_tr:nth-child(even){background-color: rgba(0,135,126,0.2);}

.campus_tr:hover {background-color: rgba(0,48,74,0.2);}

.campus_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #00304a;
    width: 232px;
}

.campus_td_head1 {
    background: linear-gradient(to right, #fe2b39, #ff832b);
}

.campus_td_head2 {
    background: linear-gradient(to right, #ff832b, #fee92a);
}

.afficher_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.afficher_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 232px;
}

.afficher_tr:nth-child(even){background-color: rgba(0,135,126,0.2);}

.afficher_tr:hover {background-color: rgba(0,48,74,0.2);}

.afficher_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #00304a;
    width: 232px;
}

.afficher_td_head1 {
    background: linear-gradient(to right, #297bfd, #a929c1);
}

.afficher_td_head2 {
    background: linear-gradient(to right, #a929c1, #fc329f);
}

.index_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.index_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 232px;
    text-align: center;
    color: #00877e;
}

.index_td2 {
    font-weight: bold;
}

.lien_tab {
    text-decoration: none;
    font-weight: bold;
    color: #00304a;
}

.lien_tab:hover {
    background: linear-gradient(to right, rgba(252,50,159,255), rgba(169,41,193,255), rgba(41,123,253,255), rgba(44,194,84,255), rgba(254,233,42,255), rgba(255,131,43,255), rgba(254,43,57,255));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.index_tr:nth-child(even){background-color: rgba(0,135,126,0.2);}

.index_tr:hover {background-color: rgba(0,48,74,0.2);}

.index_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #00304a;
    width: 232px;
}

.index_td_head1 {
    background: linear-gradient(to right, #fe2b39, #ff5333);
}

.index_td_head2 {
    background: linear-gradient(to right, #ff5333, #ff832b);
}

.index_td_head3 {
    background: linear-gradient(to right, #ff832b, #fee92a);
}

.index_td_head4 {
    background: linear-gradient(to right, #fee92a, #2cc254);
}

.index_td_head5 {
    background: linear-gradient(to right, #2cc254, #129088);
}

.index_td_head6 {
    background: linear-gradient(to right, #129088, #297bfd);
}

.index_td_head7 {
    background: linear-gradient(to right, #297bfd, #a929c1);
}

.index_td_head8 {
    background: linear-gradient(to right, #a929c1, #fc329f);
}

.index_filter {
    background-color: rgba(254,233,42,0.2);
    display: flex;
    justify-content: flex-start;
    margin: 25px;
    padding: 25px;
    width: 55%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(44,194,84,0.25), -3px -3px 3px rgba(255,131,43,0.25);
}

.index_filter1 {
    width: 350px;
}

.index_filter2 {
    width: 320px;
}

.index_id {
    display: flex;
    justify-content: right;
}

.index_identite {
    position: absolute;
    background-color: rgba(169,41,193,0.2);
    font-weight: bold;
    margin: 25px;
    padding: 25px;
    width: 18%;
    border-radius: 50px;
    color: #00304a;
    box-shadow: -5px 5px 5px rgba(41,123,253,0.25), 3px -3px 3px rgba(252,50,159,0.25);
}

tbody, thead tr, tfoot { display: block; }

tbody {
    height: 200px;
    overflow-y: scroll;
}

.profil_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}

.profil_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100px;
}

.profil_tr:nth-child(even){background-color: rgba(0,135,126,0.2);}

.profil_tr:hover {background-color: rgba(0,48,74,0.2);}

.profil_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border-right: solid grey;
    width: 100px;
}

.profil_tbody{
    height: 150px;
    overflow-y: scroll;
}

.index_groupes {
    background-color: rgba(255,131,43,0.4);
    display: inline-block;
    text-align: center;
    margin: 25px;
    padding: 25px;
    width: 29.5%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(254,43,57,0.5), -3px -3px 3px rgba(169,41,193,0.5);
}

.bouton_lieu {
    background: #00304a;
    font-weight: bold;
    border-color: #00877e;
    border-radius: 100%;
    transition: all 1s ease-in-out;
}

.bouton_lieu:hover {
    color: black;
    font-weight: bold;
    border-color: #00877e;
    background: linear-gradient(to right, rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.bouton_creer {
    background: #00304a;
    border-color: #00877e;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 55px;
    float: right;
    transition: all 1s ease-in-out;
}

.bouton_creer:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(to right, rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.bouton_creer_lieu {
    background: #00304a;
    border-color: #00877e;
    padding-left: 91px;
    padding-right: 91px;
    transition: all 1s ease-in-out;
}

.bouton_creer_lieu:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(to right, rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.bouton_filter_ville {
    background: #00304a;
    border-color: #00877e;
    padding-left: 120px;
    padding-right: 120px;
    transition: all 1s ease-in-out;
}

.bouton_filter_ville:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(to right, rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.bouton_enregistrer_profil {
    background: #00304a;
    border-color: #00877e;
    margin-left: 30px;
    padding-left: 100px;
    padding-right: 100px;
    transition: all 1s ease-in-out;
}

.bouton_enregistrer_profil:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(to right, rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.bouton_filter {
    background: #00304a;
    border-color: #00877e;
    padding: 70px 20px;
    margin-right: 25px;
    margin-left: 25px;
    transition: all 1s ease-in-out;
}

.bouton_filter:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.filter_switch {
    border-color: #00877e;
}

.filter_switch:checked {
    background-color: #00304a;
    border-color: #00877e;
}

.img_avatar{
    height: 150px;
}

.div {
    display: flex;
}

.input-group-text {
    width: 90px;
    background-color: #00304a;
    border-color: #00877e;
    color: white;
    transition: all 1s ease-in-out;
}

.input-group-text:hover {
    width: 90px;
    border-color: #00877e;
    color: black;
    background: #00304a linear-gradient(to right, rgba(254, 43, 57, 255), rgba(255, 131, 43, 255), rgba(254, 233, 42, 255), rgba(44, 194, 84, 255), rgba(41, 123, 253, 255), rgba(169, 41, 193, 255), rgba(252, 50, 159, 255));
}

.form-select {
    width: 230px;
    border-color: #00877e;
}

.form-control {
    width: 230px;
    border-color: #00877e;
}

.formtest {
    width: 250px;
}

.filter_titre {
    color: #00304a;
    font-weight: bold;
}

.titre_sortie {
    text-align: center;
    font-weight: bold;
}

.sortie_form {
    color: #00304a;
    background-color: rgba(255,131,43,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 53%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(254,233,42,0.25), -3px -3px 3px rgba(254,43,57,0.25);
 }

.orga_infos {
    color: #00304a;
    background-color: rgba(41,123,253,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 40%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(44,194,84,0.25), -3px -3px 3px rgba(169,41,193,0.25);
}

.modif_profil {
    color: #00304a;
    background-color: rgba(0,135,126,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 40%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(41,123,253,0.25), -3px -3px 3px rgba(44,194,84,0.25);
}

.sortie_aff {
    color: #00304a;
    background-color: rgba(169,41,193,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 83%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(254,155,209,0.25), -3px -3px 3px rgba(41,123,253,0.25);
}

.sortie_modif {
    color: #00304a;
    background-color: rgba(44,194,84,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 53%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(254,233,42,0.25), -3px -3px 3px rgba(41,123,253,0.25);
}

.lieu_form {
    color: #00304a;
    background-color: rgba(254,43,57,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 85%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(255,131,43,0.25), -3px -3px 3px rgba(254,233,42,0.25);
}

.groupe_form {
    color: #00304a;
    background-color: rgba(41,123,253,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 85%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(44,194,84,0.25), -3px -3px 3px rgba(169,41,193,0.25);
}

.ville_form {
    color: #00304a;
    background-color: rgba(169,41,193,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 65%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(41,123,253,0.25), -3px -3px 3px rgba(252,50,159,0.25);
}

.campus_form {
    color: #00304a;
    background-color: rgba(254,43,57,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 52%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(255,131,43,0.25), -3px -3px 3px rgba(254,233,42,0.25);
}

.center {
    text-align: center;
    justify-content: center;
}

.lol {
    margin-left: 65px;
}

.list_user {
    color: #00304a;
    background-color: rgba(252,50,159,0.2);
    margin: 50px auto;
    padding: 25px;
    width: 80%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(169,41,193,0.25), -3px -3px 3px rgba(41,123,253,0.25);
    justify-content: center;
}

.gras {
    font-weight: bold;
}

.bouton_sortie {
    background: #00304a;
    border-color: #00877e;
    padding: 20px;
    transition: all 1s ease-in-out;
}

.bouton_sortie:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.color {
    background: none;
    border: none;
    font-size: 25px;
    color: #00877e;
    transition: all 1s ease-in-out;
}

.color:hover {
    color: #00304a;
    border-color: #00877e;
    background: linear-gradient(rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.sortie_coord {
    display: flex;
}

.sortie_text {
    font-weight: bold;
}

.lieu_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.lieu_td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 250px;
    color: #00877e;
    text-align: center;
;
}

.lieu_tr:nth-child(even){background-color: rgba(0,135,126,0.2);}

.lieu_tr:hover {background-color: rgba(0,48,74,0.2);}

.lieu_td_head{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #00304a;
    width: 250px;
}

.lieu_td_head1 {
    background: linear-gradient(to right, #fe2b39, #ff5333);
}

.lieu_td_head2 {
    background: linear-gradient(to right, #ff5333, #ff832b);
}

.lieu_td_head3 {
    background: linear-gradient(to right, #ff832b, #fee92a);
}

.lieu_td_head4 {
    background: linear-gradient(to right, #fee92a, #2cc254);
}

.lieu_td_head5 {
    background: linear-gradient(to right, #2cc254, #129088);
}

.lieu_td_head6 {
    background: linear-gradient(to right, #129088, #297bfd);
}

.lieu_td_head7 {
    background: linear-gradient(to right, #297bfd, #a929c1);
}

.lieu_td_head8 {
    background: linear-gradient(to right, #a929c1, #fc329f);
}

.bouton_theme {
    background: #00304a;
    border-color: #00877e;
    padding: 20px;
    transition: all 1s ease-in-out;
}

.bouton_theme:hover {
    color: black;
    border-color: #00877e;
    background: linear-gradient(rgba(254,43,57,255), rgba(255,131,43,255), rgba(254,233,42,255), rgba(44,194,84,255), rgba(41,123,253,255), rgba(169,41,193,255), rgba(252,50,159,255));
}

.nav{
    justify-content: end;
}

.header_checkbox{
    visibility: hidden;
}

/* responsive tablette*/
@media screen and (max-width: 1000px) {

    #menuToggle
    {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;

        transition: color 0.3s ease;
    }

    #menuToggle input
    {
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -120px 0 0 -50px;
        padding: 125px 50px 50px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0 0;
        transform: translate(0%, -100%);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        display: grid;
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
        background-color: pink
    }
    .logo{
        padding-left: 90px;
        padding-top: 20px;
    }

    .nav
    {
        height: 60px;
        width: 100%;
        justify-content: flex-start;
    }

    .header_checkbox{
        visibility: initial;
    }

    .header_ul
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }

    .header_a {
        width: 50%;
    }

    .label_headerlabel
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked + .header_ul {
        display: flex;
    }
    .index_filter{
        display: block;
        width: 90%;
    }
    .index_filter2{
        padding-top: 50px;
        font-size: small;
    }
    .filter_box{
        font-size: smaller;
    }
    .index_filter3{
        padding-top: 50px;
    }

    .btn{
        width: 130px;
    }

    .table thead {

    }
    .index_tr{
        display: inline-grid;
        border: solid 1px;
    }
    .index_td_head{
        display: block;
        text-align: right;
        column-width:100px;
        font-size: x-small;
    }

    .index_td{
        display: block;
        font-size: x-small;
        width: auto;
        border: none;
        height: 50px;
        text-align: center;
        padding: 17px 5px 5px;
    }

    .index_identite{
        width: auto;
    }
    .index_identite::after, ::before {
        box-sizing: initial;
    }
    .index_id{
        height: 150px;

        justify-content: center;
    }

    .index_table{
        display: inline-flex;
        overflow-x: scroll;
        width: 95%;
    }
    tbody, thead tr, tfoot {
        display: contents;
    }
    .div_table_index{
        overflow-x: scroll;
        height: 420px;
        width: 450px;
        display: inline-block;
    }

    tbody{
        overflow-y: hidden;
    }

    .index_td_head{
        height: 60px;
        font-size: 16px;
        text-align: center;
        width: 200px;
    }

    .sortieForm{
        display: block;
    }
    .sortie_form{
        width: 83%;
    }
    #menuToggle
    {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;

        transition: color 0.3s ease;
    }

    #menuToggle input
    {
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -120px 0 0 -50px;
        padding: 125px 50px 50px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0 0;
        transform: translate(0, -100%);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        display: grid;
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
        background-color: pink
    }
    .logo{
        padding-left: 160px;
        padding-top: 20px;
    }

    .div_afficher_sortie{
        display: block;
    }

    .div_map{
        padding-left: 280px;
        padding-top: 0;
    }

    .index_td{

        font-size: 16px;
    }

    .index_groupes {

        width: 40%;

    }

    .ville_form {
        width: 90%;
        overflow-x: scroll;
    }

    .campus_form{

        width: 90%;
        overflow-x: scroll;
    }

    .list_user{
        width: 90%;
        overflow-x: scroll;
    }

    .modif_profil{
        width: 90%;
        overflow-x: scroll;
    }

}


/* responsive portable*/
@media screen and (max-width: 600px){
    .form_header{
        margin-top: 80px;
    }
    .label_header{
        content-visibility: hidden;
    }

    .input_header{

    }

    .nav
    {
        height: 60px;
        width: 100%;
        justify-content: flex-start;
    }

    .header_checkbox{
        visibility: initial;
    }

    .header_ul
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }

    .header_a {
        width: 50%;
    }

    .label_headerlabel
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked + .header_ul {
        display: flex;
    }
    .index_filter{
        display: block;
        width: 95%;
    }
    .index_filter2{
        padding-top: 50px;
        font-size: small;
    }
    .filter_box{
        font-size: smaller;
    }
    .index_filter3{
        padding-top: 50px;
    }

    .btn {
        width: 130px;
    }

    .table thead {

    }
    .index_tr{
        display: inline-grid;
        border: solid 1px;
    }
    .index_td_head{
        display: block;
        text-align: right;
        column-width:100px;
        font-size: 12px;
        width: 160px;
    }

    .index_td{
        column-width:100px;
        padding: 0;
        width: 100px;
        height: 50px;
        font-size: 14px;
    }

    .index_identite{
        width: auto;
    }
    .index_identite::after, ::before {
        box-sizing: initial;
    }
    .index_id{
        height: 150px;

        justify-content: center;
    }

    .index_table{
        display: inline-flex;
        overflow-x: scroll;
        width: 95%;
        margin: auto;
    }
    tbody, thead tr, tfoot {
        display: contents;
    }
    .div_table_index{
        overflow-x: scroll;
        height: 420px;
        width: 450px;
        display: inline-block;
    }

    tbody{
        overflow-y: hidden;
    }

    .index_td_head{
        height: 50px;
    }

    .sortieForm{
        display: block;
    }
    .sortie_form{
        width: 83%;
    }
    #menuToggle
    {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;

        transition: color 0.3s ease;
    }

    #menuToggle input
    {
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -120px 0 0 -50px;
        padding: 125px 50px 50px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0 0;
        transform: translate(0%, -100%);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        display: grid;
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
        background-color: pink
    }
    .logo{
        padding-left: 90px;
        padding-top: 20px;
    }

    body{
        font-size: 18px;
    }

    .index_groupes {

        width: 80%;

    }
    .ville_form {
        display: flex;
        flex-direction: column;
        width: 90%;
        overflow-x: scroll;
    }

    .campus_form{

        width: 90%;
        overflow-x: scroll;
    }

    .list_user{
        width: 90%;
        overflow-x: scroll;
    }

    .modif_profil{
        width: 90%;
        overflow-x: scroll;
    }

    #img{
        width: 100%;
    }

    .ferme
    {
        flex-direction: column;
    }

    .ouvrir{
        flex-direction: column;
    }

}


