<header>
    <ul>
        <li><a href="">Villes</a></li>
        <li><a href="">Campus</a></li>
        <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
        <li><a href="{{ path('profil_modif')  }}">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</header>